<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class=" text-center">
                    <img src="../../../assets/signupLogo.jpg " alt="backgroundImage" width="110">


                </div>
                <div class="text-heading">
                    <h1>Register Here !!</h1>
                </div>
                <form class="form">
                    <mat-form-field class="fisrtname" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder=" fisrtname">

                    </mat-form-field>

                    <mat-form-field class="lastname" appearance="outline">
                        <mat-label>Last name</mat-label>
                        <input matInput placeholder="lastname">

                    </mat-form-field>
                    
                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label>new passowrd</mat-label>
                        <input matInput placeholder="Please fill the username">

                    </mat-form-field>

                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label> confirm passowrd</mat-label>
                        <input matInput placeholder="Please fill the username">

                    </mat-form-field>

                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label> phone Number</mat-label>
                        <input matInput placeholder="Please fill the username">

                    </mat-form-field>

                    <mat-form-field class="fullwidth" appearance="outline">
                        <mat-label> email</mat-label>

                        <input matInput placeholder="Please fill the username">


                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent" class="buttom-signup">sign up</button>
                        <button mat-raised-button color="primary" class="buttom-signin">sign in</button>
                    </div>
                </form>

                <div>
                    .
                </div>
            </div>
        </div>
    </div>
</div>